.dropdown:hover>.dropdown-menu {
    display: block;
    background-color: #252E71;
}

.dropdown-item:hover {
    color: #252E71;
    background-color: white;
}

.dropdown a{
    color: white;
}

.hard-blue-text{
    color: #252E71;
}

.soft-blue-text{
    color: #2962FF;
}

html {
    position: relative;
    /*min-height: 100%;*/
  min-height: 100vh;
  font-family: 'OpenSans' !important;
}
body {
  /* Margin bottom by footer height */
    /*margin-bottom: 0px; */
  font-family: 'OpenSans' !important;
}

a{
text-decoration: none;
color: #252E71;
}

a:hover{
text-decoration: none;
color: #2962FF;
}
.logo{
    width: 150px;
    float: left;
    display: block;
}

.logo2{
    width: 150px;
    float: left;
    display: none;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.lapor{
      height: 50px;
      width: auto;
      text-align: center;
      background-color: #010333;
}

.lapor p {
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-size: 16px;
    letter-spacing: 0.3px;

}

.lapor p:hover{
    color: #FF9800;
}

.klien{
    padding-top: 40px;
    padding-bottom: 40px;
    height: 150px;
    text-align: center;
    font-family: 'OpenSans'a;
}

.headerclient{
    color: royalblue;
    font-size: 40px;

}

.klien p{
    font-size: 20px;
}



.carousel-item.active.test{
    width: 100%;
    max-height: 350px !important;


}
.carousel-inner.test{
    width:100%;
    max-height: 350px !important;
  }


.card.m-3{
    box-shadow: 0px 0px 15px #c7cad1;
    border-radius: 20px; 
    height: 180px
    
}

.card-img-top{
    max-width: 100%;
    height: auto;
    margin: auto;
}

.testimoni{
    margin-top: 100px;
    padding-bottom: 40px;
    height: 150px;
    text-align: center;
    font-family: 'OpenSans';
}

.testimoni h3{
    margin-top: 30px;
    color: royalblue;
}


.carousel-inner.card{
    width:100%;
    max-height: 300px !important;
    border: none;
  }

.carousel-inner.atas{
    width:100%;
}

.id-testi{
      height: 500px;
      background-color: #f9f9f9;
      width: 100%;
     

}


.user-pic{
    height: 120px;
    width: 120px;
    border-radius: 200%;
}

.media{
    margin-left: 20%;
}
.carousel-indicators .active {
    background-color: #6273b6 !important;
}

.card-img.produk{
    width: 120px;
    height: 120px;

}

.card.produk{
    border-radius: 15px;
    box-shadow: 0px 0px 15px #c7cad1;
}



.container.next{
    border-radius: 15px;
    box-shadow: 0px 0px 15px #c7cad1;
    padding-right: 0px;
}

.button-porto{
    text-align: center;
    color: #252E71;
}

#more{
    display: none;
}

.footer a {
    color: white;
}

.containerclient img{
    width: 50% !important;
}

.produk{
    /* width: 100%; */
    height: 100%;
}

.card:hover{
    box-shadow: 0px 0px 50px #c7cad1 ;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.pengujiancontainer{
    height: 300px;
    width: 100%;
}

/* responsif manual untuk container pengujian */
@media only screen and (max-width: 755px) {
    /* For tablets: */
   .pengujiancontainer{height: 800px;}
  }

  nav.scroll {
    background-color: #A1572F;
    color: #eef;
  }

  .itemnav{
      color: white !important;
  }